.top-bar-button img {
    width: 20px !important;
}

#notifiche {
    width: 42px;
}

ul button>img {
    width: 15px;
}

ul li ul {
    margin-top: .79rem !important;
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
    width: 17.5rem;
    height: auto;
    max-height: 250px;
    overflow-y: auto;
    font-size: .7rem !important;
}

ul li a, article footer a {
    border-radius: .8rem !important;
}

.bg-gray {
    background-color: #545454 !important;
}

.border-lightgray {
    border-color: #99aab5 !important;
}

h1 {
    font-weight: bold;
    font-size: 2.2rem;
}

.bg-blur {
    -webkit-backdrop-filter: blur(25px) !important;
    backdrop-filter: blur(25px) !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
}

.my-6 {
    margin-top: 4.7rem;
    margin-bottom: 4.7rem;
}

.mt-6 {
    margin-top: 4.7rem;
}

.mb-6 {
    margin-bottom: 4.7rem;
}

article {
    width: 100% !important;
}

article header a {
    font-size: 0.6rem !important;
}

article header h2 {
    font-size: 1.2rem !important;
    font-weight: bold;
}

.post-profile-pic, .notifica-profile-pic, .ricerca-pic, .back-pic {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.profile-pic {
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.change-profile-pic {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

article header p.timestamp {
    font-size: 0.6rem !important;
}

article header img.community-img {
    width: 17px;
}

article section p {
    font-size: 0.8rem !important;
}

article section img {
    width: 61px;
}

article footer a img {
    width: 27px !important;
}

footer img{
    width: 40px !important;
}

form input[type="submit"] {
    font-weight: bold;
    border-radius: .8rem !important;
}

input.form-control {
    background-color: black;
    border: none;
    border-bottom: 3px solid #545454;
    border-radius: 0px;
    padding: 0px;
    color: white !important;
}

input.form-control.is-valid {
    box-shadow: none !important;
}

input.form-control:focus {
    background-color: black;
    border-bottom: 3px solid #545454;
    box-shadow: none;
}

form .form-check-input:checked {
    background-color: rgb(244, 182, 14);
    border-color: transparent;
}

#settings-list img {
    height: 40px;
}

input.search-img {
    width:30px;
}

.communities-height {
    max-height: 90px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.w-90 {
    width: 90% !important;
}