#crea-community  {
    width: 20px;
}

#notifiche {
    width: 35px;
}

ul button>img {
    width: 15px;
}

ul li a {
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

ul li a, article footer a {
    border-radius: .8rem !important;
}

.bg-gray {
    background-color: #545454 !important;
}

.border-lightgray {
    border-color: #99aab5 !important;
}

h1 {
    font-weight: bold;
    font-size: 2.2rem;
}

.bg-blur {
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.85);
}

.my-6 {
    margin-top: 4.7rem;
    margin-bottom: 4.7rem;
}

article {
    width: 90% !important;
}

article header a {
    font-size: 0.6rem !important;
}

article header h2 {
    font-size: 1.2rem !important;
    font-weight: bold;
}

article header img {
    width: 30px;
    border-radius: 50%;
}

article header p.timestamp {
    font-size: 0.6rem !important;
}

article header img.community-img {
    width: 17px;
}

article section p {
    font-size: 0.8rem !important;
}

article section img {
    width: 61px;
}

article footer a img {
    width: 27px !important;
}

footer img{
    width: 40px !important;
}

form input[type="submit"] {
    font-weight: bold;
    border-radius: .8rem !important;
}

input.form-control {
    background-color: black;
    border: none;
    border-bottom: 3px solid #545454;
    border-radius: 0px;
    padding: 0px;
    color: white !important;
}

input.form-control:focus {
    background-color: black;
    border-bottom: 3px solid #545454;
    box-shadow: none;
}